{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">About Us</h1>
<p class="text-center">People are in always in search of convenience. An easier way to communicate, an easier way to go shopping, you name it. </p>
<p class="text-center">Well...we at Dream Hunter are dedicated to bringing our users the best available technologies to make thier lives more...convenient :) . 
We simply help the creations or "Dreams" talented people come up with, to reach a wider audience.</p>
<p class="text-center">It's easy; you have or you know of a creation, technology, whatever it is, that you think can help make living more convenient? Then sign up and add your dream to our website! 
People will be see you dream and vote on whether its helpful or not based on their experience using it.</p>
<p class="text-center">We hope you have a lovely time visiting our website and remember to have a happy {% now "Y" %}! </p>
{% endblock content %}